%article{:style=>"height: 80%;"}
  .spacer
  .signup{:style=>"height: 100%;"}
    .container_box{:style=>"height: 100%;"}
      .container_header
        %h3 Locations
      %p
        Currently, this service is only available at bars in the Bend, OR area.
      %p 
        We are adding locations continuously though so please check back for updates regularly.
      #map_canvas{:style=>'height: 76%;'}
