%article
  .spacer
  .signup
    .container_box
      .container_header
        %h3 Locations
      %p
        
        - @businesses.each do |b|
          %h1
            = b.id
      .spacer
      .container_footer



