%article{:style=>"height: 80%;"}
  .spacer
  .signup{:style=>"height: 100%;"}
    .container_box{:style=>"height: 100%;"}
      .container_header
        %h3 Locations
      %p
        Currently we've partnered with a <a href='#bend'>few locations</a> in Bend, OR.
      %p 
        However, we've listed the lounges in your area so you can visit them and tell them to sign up with Pint.me!
      #map_canvas{:style=>'height: 76%;'}
        
