%article{:style=>"height: 80%;"}
  .spacer
  .signup{:style=>"height: 100%;"}
    .container_box{:style=>"height: 100%;"}
      .container_header
        %h3 Locations
      #map_canvas{:style=>'height: 80%;'}
        
