%article
  .spacer
  .signup
    .container_box
      .container_header
        %h3 For whom will you buy a pint?
      = form_tag("/home/search", :method => :get, :remote => true, :id => "twitter_search")
      = text_field_tag 'q', {}, :class => "pint_input"
      .spacer
      #search-results
      %p
        %h2
          My pints: 
          =link_to current_user.pints.count
        .spacer
        %h2
          Pints bought:
          =link_to "12"
      .spacer
      .container_footer
