%article
  .spacer
  .signup
    .container_box
      .container_header
        %h3 Say thanks with a pint!
      %p Beer is good. People like to celebrate with beer. It feels good to buy a round for friends. Now you can buy your friends a pint with a button click.
      .spacer
      %p.align_right
        = image_tag "twitter_64.png"
        = link_to "Log in via Twitter", "/auth/twitter", :class => "button blue"
      .spacer
      .container_footer
