%article
  .spacer
  .signup
    .container_box
      .container_header
        %h3 Say thanks with a pint!
      %p Beer is good. People like to celebrate with beer. People like to buy buddies beer. Now you can buy beer with the click of a button.
      .spacer
      %p.align_right
        /= image_tag "facebook_64.png"
        = link_to "Log in with Twitter", "/auth/facebook", :class => "button green"
      .spacer
      .container_footer
