%header
  = image_tag "logo.png"
  %h1.inline Pint.me
  %p.align_right.toplinks
    = link_to "Pint.me participants"
%article
  .spacer
  .signup
    .form_box
      .form_header
        %h3 Say thanks with a pint!
      %p.intro
        %p Beer is good. People like to celebrate with beer. People like to buy buddies beer. Now you can buy beer with the click of a button.
      %p.align_right 
        = link_to "Log in through Facebook", "/auth/facebook", :class => "button blue"
%footer  
  .spacer
  .small.align_right
    Built by 
    = mail_to "theguys@pintme.com", "theguys@pintme.com", :encode => "hex"
    for Rails Rumble 2010.