%article
  .spacer
  .signup
    .container_box
      .container_header
        %h3 Say thanks with a pint!
      %p 
        Beer is good. People like to celebrate with beer and it's fun to buy a round for friends. Now you can buy beer for friends with a button click.
        = link_to "Learn more", "#", :class => "video-toggle"
      #intro-video
        HAHAHA
      .spacer
      %p.align_right
        = link_to "Log in via Twitter", "/auth/twitter", :class => "button blue"
