%article
  .spacer
  .signup
    .container_box
      .container_header
        %h3 Say thanks with a pint!
      %p 
        Beer is good. People like to celebrate with beer and it's fun to buy a round for friends. Now you can buy beer for friends with a button click.
        = link_to "Learn more", "#", :class => "video-toggle"
      #intro-video
        <object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/3g83MWP9mKM?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/3g83MWP9mKM?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
      .spacer
      %p.align_right
        = link_to "Log in via Twitter", "/auth/twitter", :class => "button blue"
