%article
  .spacer
  .signup
    .container_box
      .container_header
        %h3 Snag any of the widgets below and put them on your site!
      = image_tag "widgets/widget2.png", :class => 'float_left'
      %pre.inline.float_right
        &lt;script type=&quot;text/javascript&quot;&gt;
        = "var pintmeUser = '#{current_user.screen_name}';"
        &lt;/script&gt;
        &lt;script type=&quot;text/javascript&quot; src=&quot;http://pint.me/javascripts/widget.js&quot;&gt;&lt;/script&gt;
                 
