%article
  .spacer
  .signup
    .container_box
      .container_header
        %h3 Pint Sent!
      %p Thanks for sending #{@order.user.screen_name} a pint!  We have dispatched a notice to them on how to get their beer!