%article
  .spacer
  .signup
    .container_box
      .container_header
        %h3 ENJOY YOUR PINT FROM
      %h2
        = @business.name
      = link_to "Continue", root_url, :class => "button blue"
      %br{:style => "clear: left;"} 
